

.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* Відповідно до інспектора Figma: */
    padding: 24px 64px;
    border-bottom: 1px solid #f2f4f7;
    background-color: #f7f7f7;
    width: 100%;
    box-sizing: border-box;
    /* justify-content: center;
    gap: 450px; */
}

.logo {
    font-weight: 800;
    font-size: 20px;
    color: #101828;
    text-decoration: none;
    margin-right: 652px;
}

.nav {
    display: flex;
    gap: 32px;
    flex-shrink: 0;
}

.navLink {
    font-weight: 600;
    font-size: 16px;
    color: #101828;
    text-decoration: none;
    font: 500 16px / 1.5 "Inter", sans-serif;
    text-align: center;
    color: #101828;
}

/* Додайте ефект при наведенні */
.navLink:hover {
    color: #829B91;
}